.maincontainer{
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    margin-left: 250px;
    margin-right: 250px;
}
.container{
    display: flex;
}
.container2{
    display: flex;
}
.containerleft{
    background-color: black;
    width: 40%;
    height:800px;
    margin: 10px;
}
.containermiddle{
    background-color: black;
    width: 30%;
    height:800px;
    margin: 10px;
}
.containerright{
    background-color: black;
    width: 30%;
    height:800px;
    margin: 10px;
}
.container2left{
    background-color: black;
    width: 50%;
    height:1200px;
    margin: 10px;
}
.container2right{
    background-color: black;
    width: 50%;
    height:1200px;
    margin: 10px;
}
