body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: larger; */
}

.container {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-left: 130px;
    margin-right: 130px;
}

.user_info,
.order_info {
    flex-basis: 45%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.user_photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    color: #666;
}

strong {
    color: #333;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .user-info,
    .order-info {
        flex-basis: 90%;
    }
}

.title {
    /* Add styles for your title here */
    margin-bottom: 10px;
    /* Example space between title and wrapper */
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-left: 200px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    margin-top: 0px;
    letter-spacing: 5px;
}

.animated_button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: rgb(71, 0, 73);
    border-radius: 100px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px #ffffff00;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: center;
    font-size: 1.2rem;
    /* font-weight: bold; */
    letter-spacing: 1px;
    /* padding-bottom: 30px; */
}

.animated_button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(71, 0, 73);
    /* color: #000; */
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated_button span:first-child {
    position: relative;
    z-index: 1;
}

.animated_button:hover {
    box-shadow: 0 0 0 3px #ffffff;
    color: #2F0332;
}

.animated_button:active {
    scale: 0.95;
}

.animated_button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
.userDetails {
    margin-bottom: 10px;
    color: #0f0f0f;
    font-size: 30px;
}

.userDetails strong {
    color: #2c2c2c;
    font-weight: bold;
}
.user_photo{
    margin-top: 10px;
}

.userDetail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detailLabel, .detailValue {
    margin-right: 100px;
}

.detailLabel {
    /* If you want the labels to have a fixed width for alignment */
    width: 220px; 
    font-weight: bold;
    color: #000;
}

.detailValue {
    flex-grow: 1;
    color: #333;
}

/* Your existing styles */
