.ordersSection{
    /* background-color: #94d99b; */
    /* border-radius: 1rem 1rem 1rem 1rem; */
}
.title {
    /* Add styles for your title here */
    margin-bottom: 10px;
    /* Example space between title and wrapper */
    font-size: 30px;
    ;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-left: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    margin-top: 0px;
    /* letter-spacing: 5px; */
  }