.hero {
    /* height: 100vh; */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    margin-bottom: 25px;
}

.hero_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 10px;
    gap: 2px;
    padding-left: 10px;
    line-height: 1.1;
}

.hero_left h2 {
    color: rgb(41, 0, 35);
    font-size: 26 px;
    font-weight: 600;
}

.hero_left p {
    color: rgb(50, 0, 54);
    font-size: 100px;
    font-weight: 600;
}

.hero_hand_icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image {
    /* max-width: 100%; */
    width: 199%;
    height: 500px;
    display: block; /* Ensure images resize within their container */
    border: 2px solid black;
    border-radius: 0.4rem;
  }
  
/* .hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    background: #3d1a3f;
    color: white;
    font-size: 22px;
    font-weight: 500;

} */

.hero_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn_more {
    width: 12rem;
    height: auto;
}

button.learn_more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1.625rem;
}

button.learn_more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
}

button.learn_more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn_more .circle .icon::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #020202;
    border-right: 0.125rem solid #000000;
    transform: rotate(45deg);
}

button.learn_more .button_text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon{
    background: #000000;
    transform: translate(1rem, 0);
}

button:hover .button_text {
    color: #000000;
}