._hero{

}
.home{
  padding-left: 250px;
  padding-right: 250px;
}
.trendingNow{
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
  padding: 20px;
  /* border: 2px solid #3F0442; */
  border-radius: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container{
  background: linear-gradient(45deg,#0000 calc(25%/3), #c0dcef 0 calc(50%/3),
  #0000 0 calc(250%/3), #c0dcef 0 calc(275%/3),
  #0000 0),linear-gradient( 45deg,#c0dcef calc(25%/3), #0000 0 calc(50%/3),
  #c0dcef 0 25%, #0000 0 75%,
  #c0dcef 0 calc(250%/3), #0000 0 calc(275%/3),
  #c0dcef 0),
  linear-gradient(-45deg,#0000 calc(25%/3), #c0dcef 0 calc(50%/3),
  #0000 0 calc(250%/3), #c0dcef 0 calc(275%/3),
  #0000 0),linear-gradient(-45deg,#c0dcef calc(25%/3), #0000 0 calc(50%/3),
  #c0dcef 0 25%, #0000 0 75%,
  #c0dcef 0 calc(250%/3), #0000 0 calc(275%/3),
  #c0dcef 0)
  #cce3f1;
background-size: 64px 64px;
background-position: 0 0, 32px  32px;

padding: 10px;





}