.title{
    color: black;
  }
  .topCategories{
    
  }
  .description{
    color: black;
    font-size: larger;
    font-size: 15px;
    min-width: 300px;
  }
  .animated_button {
    position: relative;
    width: 300px;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(29, 24, 29);
    box-shadow: 0 0 0 2px #ffffff00;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 3px;
    /* padding-bottom: 30px; */
    /* border:1px solid #030303; */
  }
  