.container{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
}
.shipping{
    background-color: #ba96db;
    padding: 10px;
    width: 50%;
    margin: 10px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.payment{
    background-color: #9acc9a;
    padding: 10px;
    width: 50%;
    margin: 10px;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-bottom: 10px;
}
.title {
    font-size: 30px;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,50%) 0.1%, rgba(0,94,120,50%) 94.2% );
    margin-top: 0px;
    /* background-color: #ba96db; */
    letter-spacing: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}
.checkoutForm {
    display: flex;
    flex-direction: column; 
    /* gap: 10px;  */
}
input{
    background-color: #ffffff;
    border: 1px solid #9acc9a;
    color: black;
    height: 70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
input[type="text"] {
    padding: 8px 15px; 
    /* margin: 8px 0;  */
    display: inline-block; 
    /* border: 1px solid #ccc;  */
    /* border-radius: 4px;  */
    box-sizing: border-box; 
    /* text-align: center; */
    font-size: 25px;
}
input[type="text"]:focus {
    border-color: #4CAF50; 
    outline: none; 
}


.formGroup select {
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path fill="%23000" d="M2048 640v128h-2048v-128h2048zm0 640v128h-2048v-128h2048z"/></svg>'); */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Positions the arrow to the right */
    background-size: 12px 12px; /* Size of the arrow */
    height: 70px;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 1px solid white;
}

/* Focus style */
.formGroup select:focus {
    border-color: #4CAF50; /* Example focus color */
    outline: none; /* Removes default focus outline */
}

/* If you have a label */
.formGroup label {
    margin-bottom: 5px; /* Space between label and select */
    font-weight: bold; /* Optional: makes label text bold */
  }